Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
djangorestframework-simplejwt>=5.3,<6.0
django-cors-headers>=4.3,<5.0
django-import-export>=3.3,<4.0
channels>=4.0,<5.0
channels_redis>=4.0,<5.0
daphne>=4.0,<5.0
python-dotenv>=1.0,<2.0
psycopg2-binary>=2.9,<3.0
gunicorn>=22.0,<23.0
whitenoise>=6.6,<7.0
agora-token-builder>=1.0.0,<2.0
python-docx>=1.1.0
reportlab>=4.0,<5.0
numpy>=1.24,<2.0
requests>=2.31,<3.0
